#This file is for environmental variables, which are variables that may change based on environment
#(production vs development), or are sensitive and shouldn't be checked in to git (api keys).
#Make a copy of this file and rename it to config.env, then replace any necessary values below.
#If needed, add variables below in this format MY_KEY=f6j35hk32jl543n23b453k

CLEARDB_DATABASE_URL=mysql://root@localhost/saferDb

#This section is all for the firebase-key.js file
FIREBASE_KEY_TYPE=
FIREBASE_KEY_PROJECT_ID=
FIREBASE_KEY_PRIVATE_KEY_ID=
FIREBASE_KEY_PRIVATE_KEY=
FIREBASE_KEY_CLIENT_EMAIL=
FIREBASE_KEY_CLIENT_ID=
FIREBASE_KEY_AUTH_URI=
FIREBASE_KEY_TOKEN_URI=
FIREBASE_KEY_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_KEY_CLIENT_X509_CERT_URL=

#This is the Firebase Cloud Messenger key
FCM_SERVER_KEY=